//- Theme Color Options
- const Theme = 'red';

//- For SEO Optimization required
- const siteTitle = 'Site Başlığı';
- const siteDescription = 'Site Açıklaması';
- const siteKeywords = 'site,kelimeleri,virgülle,ayrılmalıdır';
- const siteAuthor = 'site Authoru';
- const siteRobots = 'noindex,nofollow';
- const siteUrl = 'https://website.com';
- const siteLanguage = 'tr-TR'

//- Copyright
- const siteCopyright = '1 Ocak 2019 autohorsiteurl.com.tr';

//- Logo Url
- const siteLogoUrl = 'assets/img/og-img.jpg';

//- Favicons
- const siteFavicon = 'assets/img/favicon.png';

//- Address Bar Color
- const siteThemeColor = '#ffffff';
