mixin line
	if (!demo)
		="\n"

mixin tab
	if (!demo)
		="\t"


mixin lineTab
		+line
		+tab    
		
mixin img(photo,placehold,alt)
		img(src=(demo ? photo : placehold) alt=alt)



mixin c(command)
	+line 
	if (!demo) 	
		<!-- #{command} -->
	
	


