//- Theme Color Options
- const Theme = 'black';

//- For SEO Optimization required
- var description = 'Please write description';
- var keywords = 'Please,write,description';
- var author = '@yasinatesim';
- var robots = 'all';
- var canonical = 'https://website.com';

//- Site Title
- var title = 'Documents Title';

//- Favicons
- var logo_url = 'x';
- var favicon = 'favicon...';

//- Address Bar Color
- var ThemeColor = '#ffffff';
