- const Theme = 'black';
- const minify = false;
- const demo = true;

- var description = 'Please write description';
- var keywords = 'Please,write,description';
- var author = '@yasinatesim';
- var robots = 'all';
- var canonical = 'https://website.com';

- var title = 'Documents Title';

- var logo_url = 'x';
- var favicon = 'favicon...';

- var ThemeColor = '#ffffff';
