//- Theme Color Options
- const Theme = 'black';

//- For SEO Optimization required
- const description = 'Please write description';
- const keywords = 'Please,write,description';
- const author = '@yasinatesim';
- const robots = 'all';
- const canonical = 'https://website.com';

//- Site Title
- const title = 'Documents Title';

//- Favicons
- const logo_url = 'x';
- const favicon = 'favicon...';

//- Address Bar Color
- const ThemeColor = '#ffffff';
