+c('Styles')
+link('bootstrap',true)
+link('app')
if (isThemeforestTheme)
	+line
	+line
	+c('Color Options')
	+c('Note: if you delete the Color Switcher plugin, remove this element ~ id=color-switcher ~ attribute')
	link#color-switcher(rel="stylesheet" href="assets/css/colors/" + Theme + ".min" + ".css")/

	+line
	+line

	+c('Color Switcher -- For Demo')
	+link('color-switcher',true)
