@charset "UTF-8";
/*!

	 Web Site;
		* Created Date    : date
		* Version         : 0.0.1

	Author;
		* Gmail     : yasinatesim@gmail.com
		* Web Site  : http://www.yasinates.com
		* Facebook  : http://www.facebook.com/yasinatesim
		* Twitter   : http://www.twitter.com/yasinatesim
		* Instagram : http://www.instagram.com/yasinatesim

*/
/*
====================================
[ CSS TABLE CONTENT ]
------------------------------------

    1_0 - BASE
        ➢ -- 1_1 Resets
        ➢ -- 1_2 Fonts

    2_0 - VENDORS

    3_0 - COMPONENTS

    4_0 - LAYOUT
        ➢ -- 4_1 Global
        ➢ -- 4_2 Header
        ➢ -- 4_3 Footer

    5_0 - PAGES

-------------------------------------
[ END CSS TABLE CONTENT ]
=====================================
*/
/*--------------------------------------------------------------------------
|  1_0 - BASE
--------------------------------------------------------------------------*/
/* ================= 1_1 Resets ==================== */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strong, sub, sup, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ================= 1_2 Fonts ==================== */
/*Delete This Command Line*/
/*--------------------------------------------------------------------------
|  2_0 - VENDORS
--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------
|  3_0 - COMPONENTS
--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------
|  4_0 - LAYOUT
--------------------------------------------------------------------------*/
/* ================= 4_1 Global ==================== */
/*Delete This Command Line*/
/* ================= 4_2 Header ==================== */
/*Delete This Command Line*/
/* ================= 4_3 Footer ==================== */
/*Delete This Command Line*/
/*--------------------------------------------------------------------------
|  5_0 - PAGES
--------------------------------------------------------------------------*/
