//Vendors
script(type="text/javascript" src="assets/vendors/jquery/jquery-3.2.1" + (minify ? ".min" : "") + ".js")
script(type="text/javascript" src="assets/vendors/popper/popper" + (minify ? ".min" : "") + ".js")
script(type="text/javascript" src="assets/vendors/bootstrap/js" + (minify ? ".min" : "") + ".js")

+line

//Scripts
script(type="text/javascript" src="assets/js/scripts" + (minify ? ".min" : "") + ".js")
