+line

+c('=============== Start Of Color Switcher -- For Demo ===============')
+script('vendors/color-switcher/js/color-switcher')
script.
  var demo = demo;
  var colorSheets = [
      {color: "#f00",title: "Switch to Red",href: "assets/css/colors/red.min.css"},
      {color: "#0f0",title: "Switch to Green",href: "assets/css/colors/green.min.css"},
      {color: "#00f",title: "Switch to Blue",href: "assets/css/colors/blue.min.css"}        
  ];
  ColorSwitcher.init(colorSheets);
+c('=============== End Of Color Switcher -- For Demo ===============')

+line

+c('Vendors')
+script('vendors/jquery/jquery-3.2.1')
+script('vendors/popper/popper')
+script('vendors/bootstrap/js/bootstrap')

+line

+c('Theme Scripts')
+script('js/script')

