//Styles
link(rel="stylesheet", href="assets/css/" + ThemeName + '-styles' + (minify ? ".min" : "") + ".css")
	
+line

//Color Options
link(rel="stylesheet", href="assets/css/colors/" + Theme + (minify ? ".min" : "") + ".css")
