//Google Fonts
link(href="https://fonts.googleapis.com/css?family=Poppins:500,600,300%7COpen+Sans:400,300,700" rel="stylesheet" type="text/css")

+line

//Vendors
link(rel="stylesheet" href="assets/vendors/bootstrap/css/bootstrap" + (minify ? ".min" : "") + ".css")
link(rel="stylesheet" href="assets/vendors/font-awesome/css/font-awsome" + (minify ? ".min" : "") + ".css")
link(rel="stylesheet" href="assets/vendors/animate/animate" + (minify ? ".min" : "") + ".css")

+line

//Theme Styles
link(rel="stylesheet" href="assets/css/style" + (minify ? ".min" : "") + ".css")
	
+line

//Color Options
link(rel="stylesheet" href="assets/css/colors/" + Theme + (minify ? ".min" : "") + ".css")
