h2, h3, h4, h5,
h6 {
	font: {
		weight: 600;
	}
}
h2 {
	font: {
		size: 26px;
	}
}
h3 {
	font: {
		size: 24px;
	}
}
h4 {
	font: {
		size: 22px;
	}
}
h5 {
	font: {
		size: 20px;
	}
}
h6 {
	font: {
		size: 18px;
	}
}
p {
	font: {
		size: 14px;
		weight: 400;
	}
	
	line-height: 1.7;
	letter-spacing: 0.7px;
}
