//- Displaceable Image Mixin with Placeholder
mixin img(photo,alt)
	if isThemeforestTheme
		img(src=(demo ? "assets/img/sample/" + photo : "assets/img/" + photo) alt=alt)
	else
		img(src="assets/img/" + photo alt=alt)
