//- Line Mixin
mixin line
	- if (isThemeforestTheme) {
		- if (isProduction) {
			="\n"
		- }
	- } else {
		="\n"
	- }

//- Tab Mixin
mixin tab
	- if (isThemeforestTheme) {
		- if (isProduction) {
			="\t"
		- }
	- } else {
		="\t"
	- }

//- LineTab Mixin
mixin lineTab
	+line
	+tab
